<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-2">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Emp Designation</th>
                    <th scope="col">Emp Salary</th>
                    <th scope="col">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <th scope="col">{{i.name}}</th>
                    <th scope="col">{{i.designation}}</th>
                    <th scope="col">{{i.salary}}</th>
                    <th scope="col">{{i.company}}</th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


