<!-- div.container>div.row>div.col.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.col-xxl-12 -->
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <!-- div.row.g-3>div.col.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.col-xxl-12*3 -->
            <div class="row g-3">
                <h5>Admin Login</h5>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">User name:</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-12">
                    <a routerLink="add" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>